
<h2>Hemos recibido una solicitud de cambio de contraseña. </h2>
<h3>Haga click en el siguiente <a href="{{urlsegura}}">Link</a> Para reiniciar su contraseña. 
    Si usted no ha hecho esta solicitud, simplemente ignore este mensaje, aún no hemos hecho modificaciones a su contraseña…</h3>