<h4>Por este medio le notificamos que el trámite de {{nombreTramite}} No.{{numeroTramite}} 
correspondiente al proyecto denominado {{nombreProyecto}}, ha sido resuelto,
 por lo que este puede ser retirado en ventanilla de OPAMSS.</h4>