<h4>Por este medio le notificamos que el tr치mite de {{nombreTramite}} No.{{numeroTramite}}
correspondiente al proyecto denominado {{nombreProyecto}}, ha sido observado, 
por lo que este puede ser retirado en ventanilla de OPAMSS.</h4>
<strong>Se le informa que conforme al Art.VIII.34 b del RLDOT-AMSS, 
usted cuenta con un mes para el retiro del memorando, 
contados a partir de la fecha de esta notificaci칩n, transcurrido ese plazo, 
deber치 de iniciar nuevamente el tr치mite en caso de insistir sobre lo solicitado.</strong>