{# src/AppBundle/Resources/Emails/email-registro.html.twig #}
<h3>Estimado usuario, te has registrado a la consulta del estado de tramites de OPAMSS. </h3>
<h3>Haga click en el siguiente <a href="url.com/ruta{{token}}">Link</a> Para confirmar su cuenta.</h3>

<p>Si usted no ha hecho esta solicitud, simplemente ignore este mensaje</p>