<h4>Por este medio le notificamos que esta por vencerse el plazo establecido 
para el reingreso del memorando del trámite {{nombreTramite}} No.{{numeroTramite}} 
correspondiente al proyecto denominado {{nombreProyecto}}, por lo que vencido el plazo y en caso 
de insistir en lo solicitado deberá iniciar un nuevo trámite de conformidad a lo 
dispuesto en el Art.VIII.34 b del RLDOT-AMSS</h4>